<html>
 <body>
  <div class="jumbotron container-fluid">
   <h1>The Commonwealth Institute of Technology</h1>
   <p>Building a better future for the Commonwealth of New England.</p>
   <p></p>
  </div>
 <h1></h1>
 <p></p>
 </body>
</html>