@import "bootstrap-sprockets";
@import "bootstrap";

	.jumbotron {
	
	margin-top: -1.5em;
	padding-bottom: 40em;
	background: url(photo.jpeg);
	
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	}